body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

.h1box {
  float: left;
}

.imgmy {
  float: right;
}

h2{
  font-size: 3rem;
}
footer {
  text-align: right;
  color: midnightblue;
}


.card {
  width: 60%;
  clear: right;
}




.creative {
  color: midnightblue;
}

.creative:hover { 
  color:red;
  }

@media (max-width: 680px) {

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }

}

